.container{
    padding-top: 8rem;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.container h2{
    font-size: 3rem;
    color: #475569;
}


.box{
    display: grid;
    margin: 4rem auto;
    gap: 2rem;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.box details{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 2rem;
    width: 48%;
    min-width: 550px;
    max-width: 600px;
}