.container{
    padding-top: 8rem;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.container h2{
    font-size: 3rem;
    color: #475569;
}


.container p{
    text-align: center;
}

.box{
    display: grid;
    margin: 4rem auto;
    gap: 2rem;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
}

.box details{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 2rem;
    width: 48%;
    min-width: 550px;
    max-width: 600px;
    transition: all 1s;

}


.container summary{
    padding: 1rem;
    cursor: pointer;
    outline: none;
    font-weight: 800;
    color: rgba(0, 0, 0, .8);
    transition: all 1s;
}

.container details p{
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 1.5;
    padding: .5rem 1rem;
    transition: all 1s;

}


@media screen and (max-width: 800px) {
    .box{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .box details{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        transition: all 1s;
    
    }
    
    
}